
.form-control {
    position: relative;
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
    /* background-color: blue; */
    line-height: 1.1cm;
    margin-bottom: 2.1rem;
    color: #49557e;
  }
  .form-control label{
    font-size: max(1.5vw, 16px);
    font-weight: 600;
  }
  .form-control input{
    /* background-color: rgba(161, 158, 158, 0.452); */
    padding: 10px;
    margin-left: 2.2rem;
    border: none;
    outline: none;
    border: 2.45px solid #49557e;
    border-radius: 7px;
    width: 350px;
    padding: 0;
    color: #0d0d0d;
    margin-right: 1.1rem;
    transition: all 0.1s ease-in;
  }
  .form-group input:focus, input:active, input:focus-visible{
    top: -10px;
    left: 10px;
    font-weight: 600;
    font-size: max(0.65vw, 20px);
  }
  
  .alert{
    color: rgb(241, 16, 16);
    font-weight: 600;
    display: flex;
    margin-right: 2.2rem;
  }