
.footer{
    color: #49557e;
    /* background-color: #4455ce; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
    margin-top: 100px;
    box-shadow: 0 3px 16px 0 #49557e;
    /* position: fixed; */
    bottom: 0;
  }
  .footer-content{
      width: 100%;
      display: grid;
      grid-template-columns: 2fr 1fr 1fr;
      gap: 80px;
  }
  .footer-content-left h4{
    font-size: 1.95rem;
  }
  .footer-content-left span{
    color: #ff6c04;
  }
  .footer-content-left, .footer-content-right, .footer-content-center{
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 20px;
  }
  .footer-content-left li, .footer-content-center li, .footer-content-right li{
      list-style-type: none;
      margin-bottom: 10px;
      cursor: pointer;
  }
  .footer-content-center li:hover{
    padding-top:4px ;
    border-bottom: #ff6c04;
    text-decoration-line: underline;
  }
   .footer-content-center h2, .footer-content-right h2{
      color: white;
      margin-bottom: 10px;
  }
  .footer-social-icons img{
     display: inline;
      width: 40px;
      margin-right: 15px;
      cursor: pointer;
      border-radius: 50%;
      /* border: 2px solid #49557e ; */
      background-color: #49557e;
  }
  .footer-social-icons img:hover{
      background-color: #ff6c04;
      border-radius: 50%;
      transform: translateX(45deg);
  }
  .footer hr{
      width: 100%;
      height: 2px;
      margin: 20px 0;
      background-color: grey;
      /* border: none; */
  }
  
  
  /*responsive media query*/
  @media (max-width:750px){
      .footer-content{
          display: flex;
          flex-direction: column;
          gap: 35px;
      }
      .footer-copyright{
          text-align: center;
      }
  }