.features{
    /* background-color: yellow; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 60vw;
    position: relative;
}
.features h4{
    color: #ff670e;
    font-weight: 600;
    font-size: max(2.1vw, 18px);
    text-align: center;
}
.features-content{
    max-width: 38%;
    color: #44557e;
    padding-left: 2.1rem;
    gap: 15px;
}
.features-content h5{
    font-weight: 500;
    font-size: 1.2rem;
}
.features-content p{
    font-weight: 400;
    font-size: 0.95rem;
    margin-top: 0.76rem;

}
.features-template-card{
    display: flex;
    gap: 15px;
    height: 30%;
    width: 90%;
    margin: 2.5rem auto;
    position: relative;
    margin-top: 6.5rem;
    background-image: linear-gradient(0.25turn, #44557e, #e7ff0e);
}
.features-template-card .card{
    position: absolute;
    height: 120%;
    width: 40%;
    border-radius: 15px;
    /* border: 4px solid #ff670e; */
    box-shadow: 0 10px 15px 0 #44557e;
    margin-top: 2.45rem;
}
#card1{
    background-image: url(../../assets/T1.jpg);
    background-size: cover;
    top: -80px;
}
#card2{
    background-image: url(../../assets/icon.jpg);
    background-size: cover;
    top: -60px;
    left: 20px;

}
#card3{
    background-image: url(../../assets/T2.jpg);
    background-size: cover;
    top: -40px;
    left: 40px;
}

#card4{
    background-image: url(../../assets/T3.jpg);
    background-size: cover;
    top: 20px;
    left: 80px;
}
#card5{
    background-image: url(../../assets/T6.jpg);
    background-size: cover;
    left: 150px;
    top: 110px;
}
#card6{
    right: 10px;
    padding: 1.1rem 2.1rem;
    color: #44557e;
    border: none;
    box-shadow: 0 10px 15px 0 #44557e;
    
}
#card6 h5{
    font-weight: 500;
    font-size: 1.2rem;
}
#card6 p{
    font-weight: 400;
    font-size: 0.97rem;
    margin-top: 0.76rem;
}