.header{
    /* background-color: blue; */
    height: 32vw;
    max-width: 100vw;
    margin: 30px auto;
    /* background-image: url(../../../header.jpg); */
    background-size: contain;
    object-fit: cover;
    background-repeat: no-repeat;
    position: relative;
    display: flex; 
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.header-content{ /*index.css--fading keyframes when loaded*/
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5vw;
    max-width: 30%;
    /* background-color: yellow;  */
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s ease-in;
}
.header-content p{
    font-weight: 500;
}
.header-content h3{
    font-weight: 600;
    color: #49557e;
    font-size: max(2.1vw, 18px);
}
.header-content span{
    color: #ff6c04;

}
.header-content p{
    color: #49557e;
    font-size: 1vw;
}
.header-content button{
    border: none;
    font-weight: 500;
    color: #0d0d0d;
    padding: 1vw 2.3vw;
    background-color: #ff6c04;
    font-size: max(1vw, 13px);
    cursor: pointer;
    box-shadow: 0 10px 15px 0 #49557e;
    transition: 0.3s ease-in;
}
.header-content button:hover{ 
    color: beige;
    background-color: #49557e;
    border-radius: 50px;
}
.header-img{
    /* max-width: 50%; */
    width: 95%;
    height: 30vw;
    display: flex;
    justify-content: right;
    align-items: center;
    /* background-color: yellow; */
}
.header-img img{
    width: 450px;
    height: 350px;
}

/*responsive media query*/
@media (max-width:1050px) {
    /* .header{
        height: 38vw;
    } */
    .header-content{
        max-width: 45%;
    }
    
}

@media (max-width:750px) {
    .header-content{
        max-width: 65%;
    }
    .header-content p{
        display: none;
    }
    .header-content button{
        padding: 2vw 4vw;
    }
    
}