.navbar{
    padding: 20px 0px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    border-bottom: #ff6c04;
    padding-left: 4vw;
    padding-right: 4vw;
    box-shadow: 0 10px 15px 0 #49557e;
    /* background-image: linear-gradient(0.25turn, #ff6c04, #58fe54);
    backdrop-filter: blur(20px); */
}
.navbar .logo{
    /* width: 150px; */
    font-size: 1.5em;
}
.navbar span{
    color: #ff6c04;
}
.navbar-menu{
    /* width: 30%; */
    display: flex;
    gap: 20px;
    color: #49557e;
    list-style-type: none;
    font-size: 18px;
    margin-left: 4.1rem;
    /* background-color: yellow; */
}
.navbar-right{
    display: flex;
    align-items: center;
    gap: 40px;
    cursor: pointer;
}
.navbar-right h4{
    font-size: 1.1rem;
    color: #49557e;
}
.navbar-right h4:hover{
    color: #ff6c04;
}
.navbar button{
    background: transparent;
    font-size: 16px;
    color: #49557e;
    border: 1px solid #ff6c04;
    padding: 10px 30px;
    cursor: pointer;
    transition: 0.3s ease-in;
}
.navbar button:hover{
    background-color: #49557e;
    color: #fff;
    border-radius: 50px;
}
.navbar-menu .active{ /*on hover, apply this effect*/
    padding-bottom: 2px;
    border-bottom: 2px solid #49557e;
    cursor: pointer;
}

.navbar-search-icon{
    position: relative;
}

hr{
    margin: 10px 0px;
    height: 2px;
    color: #ff6c04;
    /* border: none; */
}

@media (max-width: 1500px) {
    .navbar{
        width: 100%;
    }
    .navbar-right{
       width: fit-content;
    }
    
}


/* .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 15px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.navbar-right a {
    text-decoration: none;
    color: inherit;
} */

/* Mobile Styles */
@media (max-width: 900px) {
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* width: 100%; */
        display: none;
        background-color: #fff;
    }

    .navbar-menu a {
        /* margin: 10px 0; */
        padding: 10px 20px;
        /* width: 100%; */
        box-sizing: border-box;
    }

    .navbar-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* width: 100%; */
    }

    .navbar-right button,
    .navbar-right h4 {
        margin: 6.5px 0;
        display: flex;
        padding: 10px 20px;
        width: 100%;
        box-sizing: border-box;
    }

    .navbar .toggle-button {
        display: block;
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        /* margin-left: auto; */
    }

    .navbar-menu.show {
        display: flex;
    }
}

/* Toggle Button Styles */
.toggle-button {
    display: none;
}

@media (max-width: 1300px) {
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* width: 100%; */
        display: none;
        background-color: #fff;
    }

    .navbar-menu a {
        /* margin: 10px 0; */
        padding: 10px 20px;
        /* width: 100%; */
        box-sizing: border-box;
    }

    .navbar-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        /* width: 100%; */
    }

    .navbar .toggle-button {
        display: block;
        text-align: center;
        background: none;
        border: none;
        font-size: 1.5em;
        cursor: pointer;
        margin-left: auto;
        transition: all 0.3s ease-in-out;
    }

    .navbar-menu .show {
        display: flex;
        transition: all 0.3s ease-in-out;
    }
}

@media (max-width: 1050px) {
    .navbar .logo{
        width: 140px;
    }
    .navbar-menu{
        gap: 20px;
        font-size: 17px;
    }
    .navbar-menu.show {
        display: flex;
    }
    .navbar-right{
        gap: 30px;
    }
    .navbar-right img{
        width: 22px;
    }
    .navbar-right button{
        padding: 8px 25px;
    }
    
}

@media (max-width: 900px) {
    .navbar .logo{
        width: 140px;
    }
    .navbar-menu{
        gap: 15px;
        font-size: 16px;
    }
    .navbar-right{
        gap: 20px;
    }
    .navbar-right img{
        width: 20px;
    }
    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
    }

    .navbar-menu {
        width: 80%;
        margin-bottom: 2.1rem;
        box-shadow: 0 10px 20px #ff6c04;
    }
    .navbar-menu .show {
        display: flex;
        align-items: center;
        margin-bottom: 1.22rem;
        transition: all 0.3s ease-in-out;
    }
    
}

@media (max-width: 750px) {
    .navbar-menu{
       display: none;
    }
    .navbar{
        display: flex;
        /* align-items: center; */
        justify-content: space-between;
    }
    .navbar .logo{
        font-size: 1.4rem;
    }
    .navbar .toggle-button{
        display: flex;
        margin-left: auto;
        margin-bottom: auto;
        /* margin-bottom: 5rem; */
        font-size: 1.12rem;
    }
    .navbar-menu.show{
       position: sticky;
       z-index: 1;
    }
    
}


/* @media (max-width: 1300px) {
    .navbar {
      padding: 15px;
    }
    .logo {
      font-size: 1.2rem;
    }
    .toggle-button {
      font-size: 1.2rem;
    }
  }
  
  @media (max-width: 1050px) {
    .logo {
      font-size: 1rem;
    }
    .toggle-button {
      font-size: 1rem;
    }
  }
  
  @media (max-width: 900px) {
    .logo {
      font-size: 0.8rem;
    }
    .toggle-button {
      font-size: 0.8rem;
    }
  }
  
  @media (max-width: 780px) {
    .navbar {
      flex-direction: column;
      align-items: flex-start;
      padding: 10px;
    }
    .navbar-menu {
      flex-direction: column;
      gap: 10px;
      align-items: flex-start;
    }
    .navbar-menu a, .navbar-menu a:visited {
      font-size: 1rem;
      padding: 8px;
    }
    .navbar-right {
      flex-direction: column;
      gap: 10px;
    }
    .navbar-right button {
      font-size: 0.9rem;
    }
  } */
